@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "assets/bootstrap-3.3.7-dist/css/bootstrap.min.css";
/* SĀKUMLAPA */
html
{
    background: #FFFFFF;
}
body
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

/* .container
{
    background: #cccccc no-repeat;
	background-image: linear-gradient(beige, beige, #b6c9c2);
} */

ul.navbar-nav
{
    width: 100%;
    justify-content: space-between;
}
.navbar-toggler{ border: none;}
.navbar
{
    width: 100%;
    z-index: 3;
}
.nav-link
{
    font-weight: 500;
    line-height: 21.94px;
    color: #060606;
}
/* Sparkle Video 1 */
.Video
{ 
    position: relative;
    top: -46px;
}
.sparkleVideo
{
    position: relative;
    z-index: 0;
}
.poga
{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.description
{
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5%;
    padding-top: 5%;

    color: #2F4858;
}

.fotos
{
    margin: 0;

}
.col{ padding: 0;}
@media screen and (min-width:800px){.col_3{width:22%;}}
@media screen and (min-width:800px){.col_4{width:28%;}}
.col img{
    padding: 0;
    width: 100%;
    align-items: baseline;
}
